.repo.well
  h3 #{repo.id} 
    small
      span by: <a href="#{repo.npmUserUrl}">#{repo.author}</a>
      |  | 
      if (repo.homepage)
        a.github(href= repo.homepage) github
        |  | 
      a.npm(href= repo.npmUrl) npm
       
  p.description= repo.description
  p.tags tags: !{repo.tagLinks}
  
